<!DOCTYPE html>
<html lang="en">
  <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90395408-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking_id }}', { 'anonymize_ip': true,  'allow_google_signals': false });
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}}</title>
    <meta name="description" content="The best online Voltorb Flip calculator and solver. Instantly get the answer to any Voltorb Flip puzzle from Pokemon Heart Gold and Soul Silver." />

    <link rel="stylesheet" type="text/css" href="assets/style.css"/>
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="content">

          <div id="social-media">
              <a href="{{site.social_media_links.twitter}}"><img class="social-media-icon" src="assets/images/twitter-48x48.png"></a>
              <a href="{{site.social_media_links.github}}"><img class="social-media-icon" src="assets/images/github-48x48.png"></a>
          </div>

          <h1>{{site.heading}}</h1>

{{content}}

      </div>
    </div>

{% include footer.html %}

  </body>
</html>
