<div class="black-fade"></div>

<div class="black-area">
    <div class="black-area-container">
        <div class="black-area-content">
            <h3>Hi, it's me, the creator of this site!</h3>
            <p>
                I'm now an indie game dev!
            </p>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/ESMEkewn6RM?modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>
                If you wanna support my efforts, check out the trailer above ☝️<br>
                or download the free demo on Steam 👇.
            </p>
            <iframe src="https://store.steampowered.com/widget/1297720/" frameborder="0" width="600" height="190"></iframe>
        </div>
    </div>
</div>
